body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: center;
}


.challenge-text {
    margin-right: 50px; /* Add space between the text and the image */
    flex: 1; /* Allows text to grow and fill the space */
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between the song images */
}

.song-option {
    cursor: pointer;
    width: 300px; /* Significantly increase the width of the song images */
    transition: transform 0.2s;
    margin-bottom: 20px; /* Increase space below each image for better separation */
}

.song-option:hover {
    transform: scale(1.1);
}

.chasm-image-container {
    flex: 1; /* Allows image to grow and fill the space */
    display: flex;
    justify-content: flex-end; /* Align image to the right */
}

.chasm-image {
    width: auto; /* Adjust width automatically */
    height: 80vh; /* Set height relative to the viewport */
    max-width: none; /* Override any max-width */
}

