body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white;
}

.gameover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameover-image {
    max-width: 600px; /* Adjust as needed */
    margin-bottom: 20px;
}

.death-message {
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option-button {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.option-button:hover {
    background-color: white;
    color: black;
}