body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('mountain.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.mountain-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.info-text {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white; /* Set the text color to white */
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.option-button {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border: 2px solid white;
    color: white; /* White text */
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.option-button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Lighter color on hover */
    color: black; /* Black text on hover */
}
