body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('path1_continue.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align top and bottom containers */
    align-items: center; /* Center the containers horizontally */
}

.text-container {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    max-width: 80%; /* Or any max-width that suits your design */
    margin: 20px auto; /* Auto margins for horizontal centering */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    width: 100%; /* Full width to center content */
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
